In [4]:
import pandas as pd
import pandas_datareader as pdr
import numpy as np
import dbf
from simpledbf import Dbf5

In [6]:
pacs = pd.read_excel('../data/demo-couple-mariage-pacs (1).xlsx', index_col = [5, 6, 7], skiprows = 2, )

FileNotFoundError: [Errno 2] No such file or directory: '../data/demo-couple-mariage-pacs (1).xlsx'

In [7]:
pacs.drop(pacs.head(2).index, inplace = True)

NameError: name 'pacs' is not defined

In [8]:
mar = pd.read_excel('../data/mariages par mois.xls', skiprows = {0,1, 2, 3, 5, 6}, usecols = { 'Ensemble des mariages de l\'année', 'Mois du mariage', 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'}, skipfooter = 1)
mar

,Mois du mariage,Ensemble des mariages de l'année,Janvier,Février,Mars,Avril,Mai,Juin,Juillet,Août,Septembre,Octobre,Novembre,Décembre
0,1946,516882,27260,32425,36387,62285,33341,55776,43187,48133,53865,52922,36648,34653
1,1947,427113,22627,26632,23632,62296,27973,41026,37695,39301,43481,43659,30187,28604
2,1948,370769,22179,21091,23226,51358,21962,35083,36842,30497,37675,39435,24611,26810
3,1949,341091,18568,23409,17038,45649,19004,32770,33512,29181,34261,37458,22765,27476
4,1950,331091,18002,21284,15813,46870,17569,30083,32933,28629,36509,33810,21015,28574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,2009,245151,5822,8384,7618,13898,29179,42072,41855,35716,28928,15883,7475,8321
64,2010,245334,5755,6773,7434,15431,24890,43329,47729,31377,28773,16622,7947,9274
65,2011,231100,5303,6297,7345,15910,20146,41621,43287,29444,29327,15624,7739,9057
66,2012,239840,5713,6885,9656,16397,25988,42442,31694,30618,35743,13644,9061,11999
67,2013,225784,5297,6256,10030,14517,24251,38446,30312,34803,29015,13818,9522,9517

In [9]:
mar

,Mois du mariage,Ensemble des mariages de l'année,Janvier,Février,Mars,Avril,Mai,Juin,Juillet,Août,Septembre,Octobre,Novembre,Décembre
0,1946,516882,27260,32425,36387,62285,33341,55776,43187,48133,53865,52922,36648,34653
1,1947,427113,22627,26632,23632,62296,27973,41026,37695,39301,43481,43659,30187,28604
2,1948,370769,22179,21091,23226,51358,21962,35083,36842,30497,37675,39435,24611,26810
3,1949,341091,18568,23409,17038,45649,19004,32770,33512,29181,34261,37458,22765,27476
4,1950,331091,18002,21284,15813,46870,17569,30083,32933,28629,36509,33810,21015,28574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,2009,245151,5822,8384,7618,13898,29179,42072,41855,35716,28928,15883,7475,8321
64,2010,245334,5755,6773,7434,15431,24890,43329,47729,31377,28773,16622,7947,9274
65,2011,231100,5303,6297,7345,15910,20146,41621,43287,29444,29327,15624,7739,9057
66,2012,239840,5713,6885,9656,16397,25988,42442,31694,30618,35743,13644,9061,11999
67,2013,225784,5297,6256,10030,14517,24251,38446,30312,34803,29015,13818,9522,9517