Projet:
Décès en France selon les départements

In [1]:
import pandas as pd

#https://www.insee.fr/fr/statistiques/4487837
#https://www.insee.fr/fr/statistiques/fichier/4487837/2022-01-28_deces_quotidiens_departement.zip
url_mort = "2022-01-28_deces_quotidiens_departement.xlsx"
Excel_mort = pd.ExcelFile(url_mort)
mort_france = pd.DataFrame({"Numéros département": [], "Nombre de morts": []})

for i in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19',
           '2A', '2B', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39',
           '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59',
           '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79',
           '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', 'France']:

    temp = pd.read_excel(Excel_mort, i).drop(columns=[
        "Nombre de décès quotidiens cumulés par département",
        "Unnamed: 1",
        "Unnamed: 2",
        "Unnamed: 3",
        "Unnamed: 4",
        "Unnamed: 5"
    ]).iloc[368]
    mort_france.loc[i] = [i, temp[0]]
    
mort_france

       Numéros département  Nombre de morts
01                      01           4457.0
02                      02           5549.0
03                      03           4530.0
04                      04           1758.0
05                      05           1531.0
...                    ...              ...
92                      92          10280.0
93                      93           7810.0
94                      94           9697.0
95                      95           7538.0
France              France         613456.0

[97 rows x 2 columns]

In [2]:
#https://www.insee.fr/fr/statistiques/2012717
url_salaire = "https://www.insee.fr/fr/statistiques/fichier/2012717/TCRD_022.xlsx"
#url_salaire = "TCRD_022.xlsx"
Excel_salaire = pd.ExcelFile(url_salaire)

salaire = pd.read_excel(Excel_salaire, 'DEP').rename(columns = {'Ménages fiscaux et revenu disponible en 2019 : comparaisons départementales' : 'Numéros département',
                                    'Unnamed: 1' : 'Département',
                                    'Unnamed: 2' : 'Nombre de ménages fiscaux',
                                    'Unnamed: 3' : 'Part des ménages fiscaux imposés (en %)',
                                    'Unnamed: 4' : 'Revenu médian'}).dropna().drop(columns = ['Unnamed: 5', 'Unnamed: 6'])
salaire.drop([101, 102], axis=0, inplace=True)
salaire['Numéros département'] = salaire['Numéros département'].replace(['M'],'France')
salaire

,Numéros département,Département,Nombre de ménages fiscaux,Part des ménages fiscaux imposés (en %),Revenu médian
4,01,Ain,264074,59.6,23490
5,02,Aisne,223635,49.5,19880
6,03,Allier,158967,49,20570
7,04,Alpes-de-Haute-Provence,74092,51.5,20690
8,05,Hautes-Alpes,64688,54.2,21020
...,...,...,...,...,...
96,92,Hauts-de-Seine,694591,74.8,28310
97,93,Seine-Saint-Denis,600389,54.9,18070
98,94,Val-de-Marne,564619,67.7,23060
99,95,Val-d'Oise,466251,66,22220
100,France,France métropolitaine,27937964,57.6,21930

In [3]:
url_population = "estim-pop-dep-sexe-1975-2022.xlsx"
Excel_population = pd.ExcelFile(url_population)
population = pd.read_excel(Excel_population, 3).drop(columns = [
    "Unnamed: 2",
    "Unnamed: 3",
    "Unnamed: 4",
    "Unnamed: 5",
    "Unnamed: 6",
    "Unnamed: 8",
    "Unnamed: 9",
    "Unnamed: 10",
    "Unnamed: 11",
    "Unnamed: 12",
    "Unnamed: 13",
    "Unnamed: 14",
    "Unnamed: 15",
    "Unnamed: 16",
    "Unnamed: 17",
    "Unnamed: 18",
    "Unnamed: 19",
]).rename(columns = {"Estimation de population au 1er janvier, par département, sexe et grande classe d'âge" : "Numéros département", "Unnamed: 1" : "Département", "Unnamed: 7" : "Population"})
population = population.drop([0, 1, 2, 3, 101, 102, 103, 104, 105, 106, 107, 108, 109])
population.loc[100:100,'Numéros département':'Département'] = "France", "France métropolitaine"
population = population.drop(["Département"], axis = 1)
population

    Numéros département Population
4                    01     657015
5                    02     529329
6                    03     334715
7                    04     164789
8                    05     141189
..                  ...        ...
96                   92    1630334
97                   93    1657047
98                   94    1416471
99                   95    1258943
100              France   65284389

[97 rows x 2 columns]

In [6]:
temp = pd.merge(population, mort_france, how = 'left', on = 'Numéros département')
tot = pd.merge(temp, salaire, how = 'left', on = 'Numéros département')
tot = tot[['Numéros département', 'Département', 'Population', 'Nombre de morts', 'Nombre de ménages fiscaux', 'Part des ménages fiscaux imposés (en %)', 'Revenu médian']]

list = []
for i in range (0, 97):
    list.append(100 * tot.iat[i, 3] / tot.iat[i, 2])
tot['Pourcentage de morts'] = list

list = []
for i in range (0, 97):
    list.append(tot.iat[i, 6] / tot.iat[i, 7])

tot['Revenu/Pourcentage de morts'] = list
tot = tot[['Numéros département', 'Département', 'Population', 'Nombre de morts', 'Pourcentage de morts', 'Nombre de ménages fiscaux', 'Part des ménages fiscaux imposés (en %)', 'Revenu médian', 'Revenu/Pourcentage de morts']]
tot

,Numéros département,Département,Population,Nombre de morts,Pourcentage de morts,Nombre de ménages fiscaux,Part des ménages fiscaux imposés (en %),Revenu médian,Revenu/Pourcentage de morts
0,01,Ain,657015,4457.0,0.678371,264074,59.6,23490,34627.063832
1,02,Aisne,529329,5549.0,1.048308,223635,49.5,19880,18963.886322
2,03,Allier,334715,4530.0,1.353390,158967,49,20570,15198.868764
3,04,Alpes-de-Haute-Provence,164789,1758.0,1.066819,74092,51.5,20690,19394.109272
4,05,Hautes-Alpes,141189,1531.0,1.084362,64688,54.2,21020,19384.668713
...,...,...,...,...,...,...,...,...,...
92,92,Hauts-de-Seine,1630334,10280.0,0.630546,694591,74.8,28310,44897.622121
93,93,Seine-Saint-Denis,1657047,7810.0,0.471320,600389,54.9,18070,38339.102804
94,94,Val-de-Marne,1416471,9697.0,0.684589,564619,67.7,23060,33684.460410
95,95,Val-d'Oise,1258943,7538.0,0.598756,466251,66,22220,37110.259300
96,France,France métropolitaine,65284389,613456.0,0.939667,27937964,57.6,21930,23338.049522

A Faire:
- rendre les données un peu plus jolies (NaN à dégager, noms des colonnes...) 🆗
- pour les morts, faire une boucle et tout concaténer dans un seul tableau 🆗
- lier morts et salaires 🆗
- faire des graphiques
- Voir pour des améliorations (graphiques plus joli, stat en plus...)